body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    border: 2px solid #333;
    padding: 10px;
}

.item {
    background-color: lightblue;
    border: 1px solid #000;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    flex-grow: 1;
}

.item:nth-child(2) {
    flex-grow: 3; 
}